.form-group {
  margin-top: 100px;
}

.title {
  font-size: 75px;
}

.upload {
  margin-bottom: 50px;
}

.table-group {
  text-align: -webkit-center;
}

#table {
  border-collapse: collapse;
  width: 75%;
  text-align: center;
  border-radius: 10px;
}

#table td,
#table th {
  border: 1px solid cadetblue;
  padding: 12px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: cadetblue;
  color: white;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
